<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/boardLayout}">

<!-- [content] 영역 시작 -->
<div layout:fragment="content">

    <div id="boardContent">
        <form id="boardForm">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="hidden" th:field="${boardVO.content}"/>
            <input type="hidden" th:field="${boardVO.brdMstrInfoSeq}"/>

            <div class="mt-4">
                <div class="row">
                    <div class="col">
                        <div class="rounded-pill border border-primary text-primary px-4 py-2 fw-bold text-center" th:text="${boardVO.brdTypeNm}"></div>
                    </div>
                    <div class="col">
                        <div class="rounded-pill border border-primary text-primary px-4 py-2 fw-bold text-center" th:text="${boardVO.subjectTypeNm}"></div>
                    </div>
                    <div class="col">
                        <div class="rounded-pill border border-primary text-primary px-4 py-2 text-center" >
                            <span th:text="|공감: ${boardVO.likeTotalCnt}|"></span>
                            <span class="text-dark mx-3"> | </span>
                            <span th:text="|조회수: ${boardVO.viewCnt}|"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="rounded-pill border border-primary text-primary px-4 py-2 text-center" th:text="|등록일: ${boardVO.regDt}|"></div>
                    </div>
                </div>

                <div class="my-3">
                    <div class="border px-4 py-2" th:text="${boardVO.title}"></div>
                </div>

                <div class="border px-4 py-3" id="boardCntnt"></div>
            </div>
        </form>

        <div class="d-grid gap-2 d-flex justify-content-end">
            <button type="button" class="btn btn-lg btn-secondary px-4 my-3 float-end" onclick="goBoardForm()">수정</button>
            <button type="button" class="btn btn-lg btn-secondary px-4 my-3 float-end" onclick="delBoardInfo()">삭제</button>
            <button type="button" class="btn btn-lg btn-primary px-4 my-3 float-end" onclick="goBoardList()">목록</button>
        </div>

        <th:block layout:fragment="script">
            <script th:src="@{/js/board/boardFunc.js}"></script>
            <script>
                let boardCntnt = toastui.Editor.factory({
                    el: document.querySelector('#boardCntnt'),
                    viewer: true,
                    height: '400px',
                    initialValue: $('#content').val(),
                })
            </script>
        </th:block>
    </div>


</div>
<!-- [content] 영역 끝 -->

</html>