<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/boardLayout}">

<!-- [content] 영역 시작 -->
<div layout:fragment="content">

    <div id="boardContent">
        <form id="boardForm">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="hidden" th:field="${boardVO.brdMstrInfoSeq}"/>
            <input type="hidden" th:field="${boardVO.content}"/>

            <div class="mt-4">
                <div class="row">
                    <div class="col">
                        <select class="form-select rounded-pill px-4" th:field="${boardVO.brdTypeCd}">
                            <option value="">게시판 선택</option>
                            <th:block th:each=cnmmCd:${brdTypeCdList}>
                                <option th:value="${cnmmCd.cmmnDtlCd}" th:text="${cnmmCd.cmmnDtlNm}"
                                        th:selected="${#strings.equals(cnmmCd.cmmnDtlCd, boardVO.brdTypeCd)}"/>
                            </th:block>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select rounded-pill px-4" th:field="${boardVO.subjectTypeCd}">
                            <option value="">과목 선택</option>
                            <th:block th:each=cnmmCd:${subjectTypeCdList}>
                                <option th:value="${cnmmCd.cmmnDtlCd}" th:text="${cnmmCd.cmmnDtlNm}"
                                        th:selected="${#strings.equals(cnmmCd.cmmnDtlCd, boardVO.subjectTypeCd)}"/>
                            </th:block>
                        </select>
                    </div>
                </div>

                <div class="my-3">
                    <input type="text" class="form-control" th:field="${boardVO.title}"
                           placeholder="제목을 입력해주세요.">
                </div>

                <div id="boardCntnt"></div>
            </div>
        </form>

        <div class="d-grid gap-2 d-flex justify-content-end">
            <th:block th:if="${#strings.isEmpty(boardVO.brdMstrInfoSeq)}">
                <button type="button" class="btn btn-lg btn-secondary px-4 my-3 float-end" onclick="goBoardList()">목록</button>
                <button type="button" class="btn btn-lg btn-primary px-4 my-3 float-end" onclick="insertBoardInfo()">등록</button>
            </th:block>
            <th:block th:unless="${#strings.isEmpty(boardVO.brdMstrInfoSeq)}">
                <button type="button" class="btn btn-lg btn-secondary px-4 my-3 float-end" th:onclick="goBoardInfo([[${boardVO.brdMstrInfoSeq}]])">취소</button>
                <button type="button" class="btn btn-lg btn-primary px-4 my-3 float-end" th:onclick="updateBoardInfo([[${boardVO.brdMstrInfoSeq}]])">저장</button>
            </th:block>
        </div>

        <th:block layout:fragment="script">
            <script th:src="@{/js/board/boardFunc.js}"></script>
            <script>
                let Editor = toastui.Editor;
                let boardCntnt = new Editor({
                    el: document.querySelector('#boardCntnt'),
                    height: '400px',
                    initialValue: $('#content').val(),
                    initialEditType: 'wysiwyg'
                })

                function insertBoardInfo() {

                    let modalUrl = '/modal/alert';
                    let modalId = 'insertBoardInfo';

                    if(!$('#brdTypeCd').val()) {
                        let modalText = '게시판을 선택해주세요.';
                        modal(modalUrl, modalId, modalText);
                        return;
                    }

                    if(!$('#subjectTypeCd').val()) {
                        let modalText = '과목을 선택해주세요.';
                        modal(modalUrl, modalId, modalText);
                        return;
                    }

                    if(!$('#title').val()) {
                        let modalText = '제목을 입력해주세요.';
                        modal(modalUrl, modalId, modalText);
                        return;
                    }

                    let boardCntntHtml = boardCntnt.getHTML();
                    if(boardCntntHtml == '<p><br></p>') {
                        $('#content').val('');
                    } else {
                        $('#content').val(boardCntntHtml);
                    }

                    $.confirm({
                        title: '',
                        content: '등록하시겠습니까?',
                        buttons: {
                            '등록': function () {
                                $.alert('등록되었습니다.');
                                let url = '/board/free/infoView/insert';
                                let data = $('#boardForm').serialize();
                                $.post(url, data, function (result) {
                                    goBoardList();
                                });
                            },
                            '취소': function () {
                            }
                        }
                    })
                }

                function updateBoardInfo(brdMstrInfoSeq) {

                    let boardCntntHtml = boardCntnt.getHTML();
                    if(boardCntntHtml == '<p><br></p>') {
                        $('#content').val('');
                    } else {
                        $('#content').val(boardCntntHtml);
                    }

                    if(boardCntntHtml == '<p><br></p>') {
                        $('#content').val('');
                    } else {
                        $('#content').val(boardCntntHtml);
                    }

                    $.confirm({
                        title: '',
                        content: '저장하시겠습니까?',
                        buttons: {
                            '저장': function () {
                                $.alert('저장되었습니다.');
                                let url = '/board/free/infoView/update';
                                let data = $('#boardForm').serialize();
                                $.post(url, data, function (result) {
                                    goBoardInfo(brdMstrInfoSeq);
                                });
                            },
                            '취소': function () {
                            }
                        }
                    })
                }
            </script>
        </th:block>
    </div>

</div>
<!-- [content] 영역 끝 -->

</html>