<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- [head] 영역 시작 -->
<head th:replace="fragments/head :: headFragment"></head>
<!-- [head] 영역 끝 -->

<body class="w-100 h-100">

    <!-- header -->
    <header th:replace="fragments/header :: headerFragment"></header>

   	<div class="container">
 	   <div class="row">
	        <!-- leftSidebar -->
	        <div class="col-xl">
	            <div class="m-5">
	                <div th:replace="fragments/leftSidebar :: mypageSidebarFragment"></div>
	            </div>
	        </div>
	        <!-- content -->
	        <div class="col-xl-9">
	            <div class="m-5" layout:fragment="content"></div>
	        </div>
    	</div>
    </div>

    <!-- modal -->
    <div id="modalDiv"></div>

    <!-- footer 영역 시작 -->
    <footer th:replace="fragments/footer :: footerFragment"></footer>

    <!-- JS -->
    <th:block layout:fragment="script"></th:block>

</body>

</html>