<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<!-- [content] 영역 시작 -->
<div layout:fragment="content" class="container">

    <form method="get" id="indexForm">
    </form>

    <div class="row">
        <div class="col-5 mt-5">
            <div class="row d-flex justify-content-between">
                <p class="bg-primary text-light text-center rounded-pill px-4 py-2 my-5" style="font-size: 1.4rem;">
                    똑똑하게 점수를 올리고 싶다면</p>
                <p class="lead m-3 my-5" style="font-size: 3rem; font-family: 'KOTRA_BOLD-Bold'">변호사 될 때까지<br/>로잉머신
                </p>
                <p class="m-3 " style="font-size: 1.25rem; font-family: 'KOTRA_BOLD-Bold'">합격은 기계적인 반복학습 끝에 얻을 수
                    있습니다.<br/>로잉머신으로 문제를 관리하고 반복하세요!</p>
                <button class="btn btn-lg btn-primary m-3 px-5 py-3 my-5" onclick="goExamPage();">제 11회 변호사시험
                    문제 풀기</button>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-6 px-5 mt-5">
            <div class="text-center fs-1 my-4" style="font-family: 'KOTRA_BOLD-Bold';">제11회 변호사시험 빌보드</div>
            <div>
                <ul class="nav nav-pills m-1">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">종합</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">공법</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">형사법</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">민사법</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex">
                <table class="table">
                    <thead class="text-center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">아이디</th>
                        <th scope="col">갯수</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            <span>신상은</span>
                            <img src="" alt="" style="height: 25px">
                        </td>
                        <td>100%</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>
                            <span>스파르타</span>
                            <img src="" alt="" style="height: 25px">
                        </td>
                        <td>88.5%</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>
                            <span>코딩고고</span>
                            <img src="" alt="" style="height: 25px">
                        </td>
                        <td>85%</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>
                            <span>코딩클럽</span>
                        </td>
                        <td>84.2%</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>
                            <span>스파르따</span>
                        </td>
                        <td>80%</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>
                            <span>요요고고</span>
                        </td>
                        <td>79.3%</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>
                            <span>헬창</span>
                        </td>
                        <td>76%</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>
                            <span>너뷰브</span>
                        </td>
                        <td>75%</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>
                            <span>파이참참</span>
                        </td>
                        <td>74.3%</td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>
                            <span>파이썬칩</span>
                        </td>
                        <td>72%</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead class="text-center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">아이디</th>
                        <th scope="col">갯수</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            <span>신상은</span>
                            <img src="" alt="" style="height: 25px">
                        </td>
                        <td>100%</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>
                            <span>스파르타</span>
                            <img src="" alt="" style="height: 25px">
                        </td>
                        <td>88.5%</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>
                            <span>코딩고고</span>
                            <img src="" alt="" style="height: 25px">
                        </td>
                        <td>85%</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>
                            <span>코딩클럽</span>
                        </td>
                        <td>84.2%</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>
                            <span>스파르따</span>
                        </td>
                        <td>80%</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>
                            <span>요요고고</span>
                        </td>
                        <td>79.3%</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>
                            <span>헬창</span>
                        </td>
                        <td>76%</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>
                            <span>너뷰브</span>
                        </td>
                        <td>75%</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>
                            <span>파이참참</span>
                        </td>
                        <td>74.3%</td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>
                            <span>파이썬칩</span>
                        </td>
                        <td>72%</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead class="text-center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">아이디</th>
                        <th scope="col">갯수</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            <span>신상은</span>
                            <img src="" alt="" style="height: 25px">
                        </td>
                        <td>100%</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>
                            <span>스파르타</span>
                            <img src="" alt="" style="height: 25px">
                        </td>
                        <td>88.5%</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>
                            <span>코딩고고</span>
                            <img src="" alt="" style="height: 25px">
                        </td>
                        <td>85%</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>
                            <span>코딩클럽</span>
                        </td>
                        <td>84.2%</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>
                            <span>스파르따</span>
                        </td>
                        <td>80%</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>
                            <span>요요고고</span>
                        </td>
                        <td>79.3%</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>
                            <span>헬창</span>
                        </td>
                        <td>76%</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>
                            <span>너뷰브</span>
                        </td>
                        <td>75%</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>
                            <span>파이참참</span>
                        </td>
                        <td>74.3%</td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>
                            <span>파이썬칩</span>
                        </td>
                        <td>72%</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--        <div style="position: fixed; bottom: 100px; right: 200px">-->
    <!--            <button type="submit" class="btn btn-primary px-3 py-2 rounded-pill">-->
    <!--                <i class="far fa-comment-dots text-light"></i>-->
    <!--                <small>문의하기</small>-->
    <!--            </button>-->
    <!--        </div>-->
</div>
<!-- [content] 영역 끝 -->

<th:block layout:fragment="script">
    <script th:src="@{/js/common/indexFunc.js}"></script>
</th:block>


</html>