<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<!-- [content] 영역 시작 -->
<div layout:fragment="content" class="container">

    <div class="row">
        <div class="col-5 mt-5">
            <div class="row d-flex justify-content-between">
                <p class="bg-primary text-light text-center rounded-pill px-4 py-2 my-5" style="font-size: 1.4rem;">똑똑하게 점수를 올리고 싶다면</p>
                <p class="lead m-3 my-5" style="font-size: 3rem; font-family: 'KOTRA_BOLD-Bold'">변호사 될 때까지<br/>로잉머신</p>
                <p class="m-3 " style="font-size: 1.25rem; font-family: 'KOTRA_BOLD-Bold'">합격은 기계적인 반복학습 끝에 얻을 수 있습니다.<br/>로잉머신으로 문제를 관리하고 반복하세요!</p>
                <button class="btn btn-lg btn-primary m-3 px-5 py-3 my-5" onclick="goExamNoticePage();">제 11회 변호사시험 문제 풀기</button>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-6 px-5 mt-5">
            <div class="text-center fs-1 my-4" style="font-family: 'KOTRA_BOLD-Bold';">제11회 변호사시험 빌보드</div>
            <div>
                <ul class="nav nav-pills m-1">
                    <li class="nav-item" onclick="getBillboardSubject(this);">
                        <a class="nav-link" href="#"
                           th:classappend="${#strings.isEmpty(schSubjectTypeCd)} ? 'active'">종합</a>
                    </li>
                    <th:block th:each="Comm002:${CommLst002}">
                        <li class="nav-item"
                            th:onclick="getBillboardSubject(this, [[${Comm002.cmmnDtlCd}]])">
                            <a class="nav-link" href="#" th:text="${Comm002.cmmnDtlNm}"
                               th:classappend="${Comm002.cmmnDtlCd} == ${param.schSubjectTypeCd} ? 'active'"></a>
                        </li>
                    </th:block>
                </ul>
            </div>
            <div class="d-flex" id="billboard">
                <form method="get" id="indexForm">
                    <input type="hidden" name="examGrpCd" value="10" id="examGrpCd"/>
                    <input type="hidden" name="examYear" value="2022" id="examYear"/>
                    <input type="hidden" name="examNo" value="1" id="examNo"/>
                    <input type="hidden" name="subjectTypeCd" value="10" id="subjectTypeCd"/>
                </form>
                <table class="table">
                    <thead class="text-center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">아이디</th>
                        <th scope="col">갯수</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                        <th:block th:each="billBoard:${billBoardArr0}">
                            <tr>
                                <th scope="row" th:text="${billBoard.RANK}"></th>
                                <td>
                                    <span th:text="${billBoard.NICKNAME}"></span>
                                    <img src="" alt="" style="height: 25px">
                                </td>
                                <td th:text="${billBoard.RESULT_CNT}"></td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
                <table class="table">
                    <thead class="text-center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">아이디</th>
                        <th scope="col">갯수</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                        <th:block th:each="billBoard:${billBoardArr10}">
                            <tr>
                                <th scope="row" th:text="${billBoard.RANK}"></th>
                                <td>
                                    <span th:text="${billBoard.NICKNAME}"></span>
                                    <img src="" alt="" style="height: 25px">
                                </td>
                                <td th:text="${billBoard.RESULT_CNT}"></td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
                <table class="table">
                    <thead class="text-center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">아이디</th>
                        <th scope="col">갯수</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                        <th:block th:each="billBoard:${billBoardArr20}">
                            <tr>
                                <th scope="row" th:text="${billBoard.RANK}"></th>
                                <td>
                                    <span th:text="${billBoard.NICKNAME}"></span>
                                    <img src="" alt="" style="height: 25px">
                                </td>
                                <td th:text="${billBoard.RESULT_CNT}"></td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--        <div style="position: fixed; bottom: 100px; right: 200px">-->
    <!--            <button type="submit" class="btn btn-primary px-3 py-2 rounded-pill">-->
    <!--                <i class="far fa-comment-dots text-light"></i>-->
    <!--                <small>문의하기</small>-->
    <!--            </button>-->
    <!--        </div>-->
</div>
<!-- [content] 영역 끝 -->

<th:block layout:fragment="script">
    <script th:src="@{/js/common/indexFunc.js}"></script>
</th:block>


</html>