<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultClearLayout}">

<!-- [content] 영역 시작 -->
<div layout:fragment="content" class="container my-auto">

    <div class="text-center">
        <a href="#" class="display-1 text-primary"
           style="text-decoration: none; font-family: 'NEXON Lv1 Gothic OTF Bold';">로잉머신</a>
        <p class="">회원이 아니신가요? <a href="#" class="text-primary">회원가입 하기</a></p>
    </div>

    <div class="mx-auto w-50">
        <form class="d-flex flex-column align-items-center">
            <div class="form-group my-3 w-75">
                <label for="exampleInputEmail1" class="m-2 text-primary">이메일</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="이메일을 입력해주세요.">
            </div>
            <div class="form-group my-3 w-75">
                <label for="exampleInputPassword1" class="m-2 text-primary">비밀번호</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="비밀번호를 입력해주세요.">
            </div>
            <div class="my-4 w-75">
                <button type="button" class="btn btn-primary btn-lg btn-block px-5 py-2 w-100"><small>로그인 하기</small>
                </button>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <span class="text-primary mx-5">SNS 간편 로그인</span>
                <a href="javascript:;" class="btn_social" data-social="facebook">페이스북</a>
                <a href="javascript:;" class="btn_social" data-social="google">구글</a>
                <a href="javascript:;" class="btn_social" data-social="kakao">카카오톡</a>
                <a href="javascript:;" class="btn_social" data-social="naver">네이버</a>
            </div>
            <div class="m-5">
                <a href="" class="text-primary">비밀번호 찾기</a>
            </div>
        </form>
    </div>

</div>
<!-- [content] 영역 끝 -->

<th:block layout:fragment="script">
    <script>
        let socials = document.getElementsByClassName("btn_social");
        for (let social of socials) {
            social.addEventListener('click', function () {
                let socialType = this.getAttribute('data-social');
                location.href = "/oauth2/authorization/" + socialType;
            })
        }
    </script>
</th:block>

</html>
