<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- [head] 영역 시작 -->
<head th:replace="fragments/head :: headFragment"></head>
<!-- [head] 영역 끝 -->

<body class="w-100 h-100">

<!-- [content] 영역 시작 -->
<div class="container my-auto">

    <input type="hidden" th:value="${@environment.getProperty('spring.profiles.active')}" id="activeEnvir"></input>

    <div class="text-center mx-5">
        <a href="/index" class="display-1 text-primary"
           style="text-decoration: none; font-family: 'NEXON Lv1 Gothic OTF Bold';">
            <!-- 로잉머신 -->
            <img src="/images/lawingmachine.png" style="max-width:400px;" class="my-5 w-100"/>
        </a>
        <!--        <p class=""><span>회원이 아니신가요?</span><i class="far fa-hand-point-right mx-2"></i><a href="/reg" class="text-primary">회원가입</a></p>-->
    </div>

    <div class="mx-auto">
        <form class="d-flex flex-column align-items-center">
            <!--            <div class="form-group my-3 w-75">-->
            <!--                <label for="exampleInputEmail1" class="m-2 text-primary">이메일</label>-->
            <!--                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"-->
            <!--                       placeholder="이메일을 입력해주세요.">-->
            <!--            </div>-->
            <!--            <div class="form-group my-3 w-75">-->
            <!--                <label for="exampleInputPassword1" class="m-2 text-primary">비밀번호</label>-->
            <!--                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="비밀번호를 입력해주세요.">-->
            <!--            </div>-->
            <!--            <div class="my-4 w-75">-->
            <!--                <button type="button" class="btn btn-primary btn-lg btn-block px-5 py-2 w-100"><small>로그인 하기</small>-->
            <!--                </button>-->
            <!--            </div>-->
            <!--             <div class="w-50"> -->
            <!-- <span class="text-primary mx-5">SNS 간편 로그인</span>-->
            <div class="d-grid gap-3 text-center">
                <a class="btn_social w-75 m-auto" data-social="naver">
                    <img class="w-75" src="/images/naver.png" alt="">
                </a>
                <a class="btn_social w-75 m-auto" data-social="kakao">
                    <img class="w-75" src="/images/kakao.png" alt="">
                </a>
                <a class="btn_social w-75 m-auto" data-social="google">
                    <img class="w-75" src="/images/google.png" alt="">
                </a>
            </div>
            <!--                <div class="text-center m-4">-->
            <!--                    <a class="col btn_social m-4" data-social="kakao"><img class="w-25"-->
            <!--                                                                           src="/images/kakao-logo-circle.png"-->
            <!--                                                                           alt=""></a>-->
            <!--                    <a class="col btn_social m-4" data-social="naver"><img class="w-25"-->
            <!--                                                                           src="/images/naver-logo-circle.png"-->
            <!--                                                                           alt=""></a>-->
            <!--                </div>-->
            <!--                <div class="text-center m-4">-->
            <!--                    <a class="col btn_social m-4" data-social="google"><img class="w-25"-->
            <!--                                                                            src="/images/google-logo-circle.png" alt=""></a>-->
            <!--                    <a class="col btn_social m-4" data-social="facebook"><img class="w-25"-->
            <!--                                                                              src="/images/facebook-logo-circle.png"-->
            <!--                                                                              alt=""></a>-->
            <!--                </div>-->
            <!--             </div> -->
            <!--            <div class="m-5">-->
            <!--                <a href="" class="text-primary">비밀번호 찾기</a>-->
            <!--            </div>-->
        </form>
        <p class="text-center my-5">SNS 간편로그인 이후 서비스를 이용할 수 있습니다.</p>
        <div class="text-center" th:if="${@environment.getProperty('spring.profiles.active') != 'was'}">
	        <p class="text-center my-2 text-danger fw-bold">테스트 로그인(사용자/관리자)<br>user권한/admin권한</p>
        	<form id="testGuestForm" method="post" action="/login/testGuest">
        		<input type="hidden" name="userId" id="userId" value="GUEST"/>
        		<input type="hidden" name="password" id="password" value="GUEST"/>
        		<div>
	        		<button type="button" class="btn btn-outline-primary px-4 fw-bold" onclick="loginGuest('user')">GUEST(사용자)</button>
	        		<button type="button" class="btn btn-outline-primary px-4 fw-bold" onclick="loginGuest('new_user')">New GUEST(사용자)</button>
        		</div>
        		<div>
	        		<button type="button" class="btn btn-outline-primary px-4 fw-bold" onclick="loginGuest('admin')">GUEST(관리자)</button>
	        		<button type="button" class="btn btn-outline-primary px-4 fw-bold" onclick="loginGuest('new_admin')">New GUEST(관리자)</button>
        		</div>
        	</form>
        </div>
    </div>

</div>

<script>
    let socials = document.getElementsByClassName("btn_social");
    for (let social of socials) {
        social.addEventListener('click', function () {
            let socialType = this.getAttribute('data-social');
            if ($('#activeEnvir').val() == 'dev') {
                if(socialType != 'kakao') {
                    alert('개발서버는 카카오 로그인 또는 ADMIN 로그인만 지원합니다.');
                    return;
                }
            }
            location.href = "/oauth2/authorization/" + socialType;
        })
    }
    
    function loginGuest(obj) {
		$('#userId').val(obj);
		let form = $('#testGuestForm');
		form.attr("action", "/login/testGuest");
		form.attr("target", "");
		form.submit();
	}
</script>

<!-- footer 영역 시작 -->
<footer th:replace="fragments/footer :: footerFragment"></footer>

</body>

</html>
