<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/defaultClearLayout}">

<head>
    <title>error</title>
</head>

	<div layout:fragment="content" class="text-center py-5 my-5">
		<div>
			<h1 class="display-1 text-primary">SUCCESS</h1>
		</div>
		<div>
			<span class="d-block fs-5">인증되었습니다.</span>
		</div>
		<div class="my-5">
			<button type="button" class="btn btn-primary btn-lg btn-block px-5 py-3 text-light" onclick="location.replace('/index');">홈으로</button>
		</div>
	</div>
</html>
