<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/defaultClearLayout}">

<head>
    <title>error</title>
</head>

	<div layout:fragment="content" class="text-center py-5 my-5">
		<div>
			<h1 class="display-1 text-primary">SUCCESS</h1>
		</div>
		<div>
			<span class="d-block fs-5">등록된 문제가 없습니다.</span>
			<span class="d-block fs-5">관리자가 문제를 등록한 후 서비스를 이용할 수 있습니다.</span>
		</div>
		<div class="my-5">
			<button type="button" class="btn btn-primary btn-lg btn-block px-5 py-3 text-light" onclick="location.replace('/quiz/index');">홈으로</button>
		</div>
	</div>
</html>
