<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">


<!-- [content] 영역 시작 -->
<div layout:fragment="content" class="container">

    <div class="row mt-5">

        <div class="col">
            <ul class="nav nav-pills flex-column w-75">
                <li class="nav-item m-2"><a class="nav-link py-3 active" href="/mypage/myProfile">내 프로필</a></li>
                <li class="nav-item m-2"><a class="nav-link py-3" href="/mypage/reviewNote">오답노트</a></li>
                <li class="nav-item m-2"><a class="nav-link py-3" href="/mypage/quizResult">진단결과</a></li>
            </ul>
        </div>

        <div class="col-9">
            <div class="d-flex justify-content-between">
                <div style="width: 130px;">
                    <img src="../static/images/profile-sample.jpg" alt="" class="img-thumbnail">
                </div>
                <div class="w-75">
                    <span class="fs-5">신상은</span>
                    <div class="d-flex justify-content-between d-grid gap-2">
                        <div class="bg-primary text-light w-100 my-4 px-4 py-2 rounded d-flex flex-column">
                            <span class="mb-2">이메일</span>
                            <span style="font-family: 'NEXON Lv1 Gothic OTF Light';">archilawwyer@naver.com</span>
                        </div>
                        <div class="bg-primary text-light w-100 my-4 px-4 py-2 rounded d-flex flex-column">
                            <span class="mb-2">전화번호</span>
                            <span style="font-family: 'NEXON Lv1 Gothic OTF Light';">010-3303-7561</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-4">
                <h5>비밀번호 변경</h5>
                <small id="emailHelp" class="form-text text-danger">* 비밀번호는 영문, 숫자 조합 8자 이상 입력해 주세요.</small>
                <div class="d-flex">
                    <div class="form-group m-3 w-75">
                        <label for="exampleInputPassword1" class="m-2 text-primary">비밀번호</label>
                        <input type="password" class="form-control" id="exampleInputPassword1"
                               placeholder="비밀번호를 입력해주세요.">
                    </div>
                    <div class="form-group m-3 w-75">
                        <label for="exampleInputPassword1" class="m-2 text-primary">비밀번호 확인</label>
                        <input type="password" class="form-control" id="exampleInputPassword1"
                               placeholder="비밀번호를 다시 한번 입력해주세요.">
                    </div>
                </div>
                <div style="float: right;">
                    <button type="submit" class="btn btn-primary px-3 py-2">비밀번호 변경</button>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- [content] 영역 끝 -->