<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypageLayout}">

<!-- [content] 영역 시작 -->
<div layout:fragment="content">

    <form class="d-grid gap-4" id="myprofileForm">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="hidden" th:field="${userInfo.userId}">
        <div>
            <span class="fs-5" style="font-family: 'GongGothicMedium';" th:text="|${userInfo.userNm}(${userInfo.membershipNm})|"></span>
            <div th:if="${#strings.equals(userInfo.membershipCd, '10')}">
                <th:block th:if="${#strings.isEmpty(userInfo.examTicketNo) and #strings.isEmpty(userInfo.examTicket)}">
                    <small class="form-text text-danger">
                        * 수험번호와 수험표를 등록 후 [인증회원]이 되면, 서비스를 이용할 수 있습니다.
                    </small>
                </th:block>
                <th:block th:unless="${#strings.isEmpty(userInfo.examTicketNo) and #strings.isEmpty(userInfo.examTicket)}">
                    <div>
                        <small class="form-text text-danger">
                            * 수험번호와 수험표가 등록되었습니다. 관리자의 승인을 기다리고 있습니다.
                        </small>
                    </div>
                    <div>
                         <small class="form-text text-danger">
                             * 관리자의 승인 후 [인증회원]이 되면 서비스를 이용할 수 있습니다.
                        </small>
                    </div>
                </th:block>
            </div>
        </div>
        <div>
            <div class="d-flex justify-content-between d-grid gap-5">
                <div class="bg-primary text-light w-100 px-4 py-2 rounded d-flex flex-column">
                    <span class="mb-2">닉네임</span>
                    <span style="font-family: 'NEXON Lv1 Gothic OTF Light';" th:text="${userInfo.nickname}"></span>
                </div>
                <div class="bg-primary text-light w-100 px-4 py-2 rounded d-flex flex-column">
                    <span class="mb-2">이메일</span>
                    <span style="font-family: 'NEXON Lv1 Gothic OTF Light';" th:text="${userInfo.email}"></span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between d-grid gap-5">
            <div class="form-group w-100">
                <label for="nickname" class="m-2 text-primary">닉네임</label>
                <input type="text" class="form-control" id="nickname" name="nickname"
                       placeholder="변경할 닉네임을 입력해주세요." maxlength="20">
            </div>
            <div class="form-group w-100">
                <label for="email" class="m-2 text-primary">이메일</label>
                <input type="text" class="form-control" id="email" name="email"
                       placeholder="변경할 이메일을 입력해주세요." maxlength="40">
            </div>
        </div>
<!--        <div class="d-flex justify-content-between d-grid gap-5">-->
<!--            <div class="form-group w-100">-->
<!--                <label for="examTicketNo" class="m-2 text-primary">수험번호</label>-->
<!--                <small class="form-text text-danger">* 수험번호는 관리자의 승인 후 수정할 수 없습니다.</small>-->
<!--                <input type="text" class="form-control" id="examTicketNo" name="examTicketNo"-->
<!--                       th:readonly="${#strings.equals(userInfo.membershipCd, '10') ? 'false' : 'true'}"-->
<!--                       th:value="${userInfo.examTicketNo}" placeholder="수험번호를 입력해주세요." maxlength="20" >-->
<!--            </div>-->
<!--            <div class="form-group w-100">-->
<!--                <label for="imageInput" class="m-2 text-primary">수험표</label>-->
<!--                <small class="form-text text-danger">* 수험표는 관리자의 승인 후 수정할 수 없습니다.</small>-->
<!--                <th:block th:if="${#strings.equals(userInfo.membershipCd, '10')}">-->
<!--                    <form enctype="multipart/form-data" id="uploadImageForm">-->
<!--                        <input type="file" enctype="multipart/form-data" method="POST" class="form-control"-->
<!--                               accept=".jpg, .jpeg, .png, .bmp"-->
<!--                               id="imageInput" name="examTicketFile" th:value="${userInfo.examTicket}">-->
<!--                    </form>-->
<!--                </th:block>-->
<!--                <img class="w-100 my-3" th:if="${not #strings.isEmpty(userInfo.examTicketPath)}"-->
<!--                    alt="수험표" th:src="${userInfo.examTicketPath}" id="examTicketImg">-->
<!--            </div>-->
<!--        </div>-->
    </form>
    <div class="text-center m-3">
        <button type="submit" class="btn btn-primary px-5 py-2" onclick="updateUserInfo();">프로필 수정</button>
    </div>
</div>
<!-- [content] 영역 끝 -->

<th:block layout:fragment="script">
    <script th:src="@{/js/mypage/mypageFunc.js}"></script>
    <script>
        //이미지 미리보기
        var sel_file;

        $(document).ready(function() {
            $("#imageInput").on("change", handleImgFileSelect);
        });

        function handleImgFileSelect(e) {
            var files = e.target.files;
            var filesArr = Array.prototype.slice.call(files);

            var reg = /(.*?)\/(jpg|jpeg|png|bmp)$/;

            filesArr.forEach(function(f) {
                if (!f.type.match(reg)) {
                    alert("확장자는 이미지 확장자만 가능합니다.");
                    return;
                }

                sel_file = f;

                var reader = new FileReader();
                reader.onload = function(e) {
                    $("#examTicketImg").attr("src", e.target.result);
                }
                reader.readAsDataURL(f);
            });
        }
    </script>
</th:block>