<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypageLayout}">

<!-- [content] 영역 시작 -->
<div layout:fragment="content">

    <form id="quizResultForm">
        <input type="hidden" name="examGrpCd" value="10" id="examGrpCd"/>
        <input type="hidden" name="examYear" value="2022" id="examYear"/>
        <input type="hidden" name="examNo" value="11" id="examNo"/>
    </form>
    
    <div class="border px-5 mt-5 quizResultY" style="font-family: 'NEXON Lv1 Gothic OTF';">
        <h1 class="fs-3 my-5 fw-bold text-center">로잉머신 진단결과</h1>
        <p class="fs-5 m-3" >예비 변호사 <span class="fw-bold text-primary nickname"></span>님, 제 11회 변호사시험을 치르느라 수고많으셨습니다.</p>
        <p class="fs-5 m-3">
            시험결과 예비 변호사 <span class="fw-bold text-primary nickname"></span>님은 <strong>로잉머신의 제 11회 변호사시험 빌보드</strong>에서
            총 <span class="fw-bold text-danger" id="memberTotalCnt"></span>명 가운데 <span class="fw-bold text-danger" id="rank"></span>등을 하셨습니다.
        </p>
        <p class="fs-5 m-3">
            사례형과 기록형 시험에서 중간점수를 받는다는 전제하여,<br/>
            제10회 변호사시험 기준으로 <span class="fw-bold text-danger" id="result10th"></span>,</br>
            제9회 변호사시험 기준으로 <span class="fw-bold text-danger" id="result9th"></span>,</br>
            제8회 변호사시험 기준으로 <span class="fw-bold text-danger" id="result8th"></span>입니다.
        </p>
        <p class="fs-5 m-3">
            따라서 위 사항들을 종합하여 판단하건데,<br/>
            현재 예비 변호사 <span class="fw-bold text-dark nickname"></span>님이 제 11회 변호사시험에서 합격할 가능성은
            <span class="fw-bold text-dark" id="resultMsg"></span>
        </p>
        <div class="fs-4 my-4 text-center fw-bold" id="regDt"></div>
    </div>

    <div class="border px-5 py-4 mt-5 quizResultN" style="font-family: 'NEXON Lv1 Gothic OTF';">
        <p class="fs-5 m-3" ><span class="text-danger fw-bold">'로잉머신 진단결과'</span>는 모든 과목을 제출한 이후 확인할 수 있습니다.</p>
    </div>

   <!-- <div class="border px-5 py-4 mt-5 quizResultN" style="font-family: 'NEXON Lv1 Gothic OTF';">
        <p class="fs-5 m-3" ><span class="text-danger fw-bold">'행복회로 계산기'</span>는 모든 과목을 제출한 이후 확인할 수 있습니다.</p>
    </div>-->

    <div class="border py-3 mt-5" id="happCalculator">
        <h1 class="fs-3 my-5 fw-bold text-center">행복회로 계산기</h1>
        <div class="row w-100">
            <div class="col-xl">
                <div id="calTblTotal" onkeyup="calTblTotal(this)">
                    <h5 class="fw-bold mx-3">1. 선택형 점수 입력</h5>
                    <table class="text-center table table-sm table-striped m-3">
                        <thead>
                            <tr>
                                <th class="col-xl-4">과목명</th>
                                <th class="col-xl-4">내 갯수</th>
                                <th class="col-xl-4">만점</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>공법</td>
                                <td><input type="text" id="subjectCd_70" class="w-75 text-center fw-bold" maxlength="2"/></td>
                                <td>/ 40개</td>
                            </tr>
                            <tr>
                                <td>형사법</td>
                                <td><input type="text" id="subjectCd_80" class="w-75 text-center fw-bold" maxlength="2"/></td>
                                <td>/ 40개</td>
                            </tr>
                            <tr>
                                <td>민사법</td>
                                <td><input type="text" id="subjectCd_90" class="w-75 text-center fw-bold" maxlength="2"/></td>
                                <td>/ 70개</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center fw-bold my-4">
                        총점 : <span class="total">0</span>개 (<span class="totalPoint">0</span>점)
                    </div>
                </div>
                <div class="mt-3" onkeyup="calTblTotal(this)">
                    <h5 class="fw-bold mx-3">2. 기록형 점수 입력</h5>
                    <table class="text-center table table-sm table-striped m-3">
                        <thead>
                            <tr>
                                <th class="col-xl-4">과목명</th>
                                <th class="col-xl-4">내 점수</th>
                                <th class="col-xl-4">만점</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>공법</td>
                                <td><input type="text" class="w-75 text-center" maxlength="4" value="50"/></td>
                                <td>/ 100점</td>
                            </tr>
                            <tr>
                                <td>형사법</td>
                                <td><input type="text" class="w-75 text-center" maxlength="4" value="50"/></td>
                                <td>/ 100점</td>
                            </tr>
                            <tr>
                                <td>민사법</td>
                                <td><input type="text" class="w-75 text-center" maxlength="4" value="87.5"/></td>
                                <td>/ 175점</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center fw-bold my-4">
                        총점 : <span class="total">187.5</span>점
                    </div>
                </div>
            </div>
            <div class="col-xl" onkeyup="calTblTotal(this)">
                <h5 class="fw-bold mx-3">3. 사례형 점수 입력</h5>
                <table class="text-center table table-sm table-striped m-3">
                    <thead>
                        <tr>
                            <th class="col-xl-4">과목명</th>
                            <th class="col-xl-4">내 점수</th>
                            <th class="col-xl-4">만점</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>공법 1문</td>
                            <td><input type="text" class="w-75 text-center" maxlength="4" value="50"/></td>
                            <td>/ 100점</td>
                        </tr>
                        <tr>
                            <td>공법 2문</td>
                            <td><input type="text" class="w-75 text-center" maxlength="4" value="50"/></td>
                            <td>/ 100점</td>
                        </tr>
                        <tr>
                            <td>형사법 1문</td>
                            <td><input type="text" class="w-75 text-center" maxlength="4" value="50"/></td>
                            <td>/ 100점</td>
                        </tr>
                        <tr>
                            <td>형사법 2문</td>
                            <td><input type="text" class="w-75 text-center" maxlength="4" value="50"/></td>
                            <td>/ 100점</td>
                        </tr>
                        <tr>
                            <td>민사법 1문</td>
                            <td><input type="text" class="w-75 text-center" maxlength="4" value="75"/></td>
                            <td>/ 150점</td>
                        </tr>
                        <tr>
                            <td>민사법 2문</td>
                            <td><input type="text" class="w-75 text-center" maxlength="4" value="50"/></td>
                            <td>/ 100점</td>
                        </tr>
                        <tr>
                            <td>민사법 3문</td>
                            <td><input type="text" class="w-75 text-center" maxlength="4" value="50"/></td>
                            <td>/ 100점</td>
                        </tr>
                        <tr>
                            <td>선택법 1문</td>
                            <td><input type="text" class="w-75 text-center" maxlength="4" value="40"/></td>
                            <td>/ 80점</td>
                        </tr>
                        <tr>
                            <td>선택법 2문</td>
                            <td><input type="text" class="w-75 text-center" maxlength="4" value="40"/></td>
                            <td>/ 80점</td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center fw-bold my-4">
                    총점 : <span class="total">455</span>점
                </div>
            </div>
            <div class="col-xl-5">
                <h5 class="fw-bold mx-3">4. 합격 기대가능성</h5>
                <table class="text-center table table-sm table-striped m-3">
                    <thead>
                        <tr>
                            <th class="col-xl">역대 시험</th>
                            <th class="col-xl">내 점수</th>
                            <th class="col-xl">합격선</th>
                            <th class="col-xl">합격여부</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>제 11회</td>
                            <td><span class="myTotalPoint">0</span>점</td>
                            <td>???</td>
                            <td id="myPassYn" class="fw-bold">???</td>
                        </tr>
                        <tr>
                            <td>제 10회</td>
                            <td><span class="myTotalPoint">0</span>점</td>
                            <td>
                                <span class="examCut">895.85</span>
                            </td>
                            <td class="myPassYn"></td>
                        </tr>
                        <tr>
                            <td>제 9회</td>
                            <td><span class="myTotalPoint">0</span>점</td>
                            <td>
                                <span class="examCut">900.29</span>
                            </td>
                            <td class="myPassYn"></td>
                        </tr>
                        <tr>
                            <td>제 8회</td>
                            <td><span class="myTotalPoint">0</span>점</td>
                            <td>
                                <span class="examCut">905.55</span>
                            </td>
                            <td class="myPassYn"></td>
                        </tr>
                        <tr>
                            <td>제 7회</td>
                            <td><span class="myTotalPoint">0</span>점</td>
                            <td>
                                <span class="examCut">881.9</span>
                            </td>
                            <td class="myPassYn"></td>
                        </tr>
                        <tr>
                            <td>제 6회</td>
                            <td><span class="myTotalPoint">0</span>점</td>
                            <td>
                                <span class="examCut">889.91</span>
                            </td>
                            <td class="myPassYn"></td>
                        </tr>
                        <tr>
                            <td>제 5회</td>
                            <td><span class="myTotalPoint">0</span>점</td>
                            <td>
                                <span class="examCut">862.37</span>
                            </td>
                            <td class="myPassYn"></td>
                        </tr>
                        <tr>
                            <td>제 4회</td>
                            <td><span class="myTotalPoint">0</span>점</td>
                            <td>
                                <span class="examCut">838.5</span>
                            </td>
                            <td class="myPassYn"></td>
                        </tr>
                        <tr>
                            <td>제 3회</td>
                            <td><span class="myTotalPoint">0</span>점</td>
                            <td>
                                <span class="examCut">793.7</span>
                            </td>
                            <td class="myPassYn"></td>
                        </tr>
                        <tr>
                            <td>제 2회</td>
                            <td><span class="myTotalPoint">0</span>점</td>
                            <td>
                                <span class="examCut">762..3</span>
                            </td>
                            <td class="myPassYn"></td>
                        </tr>
                        <tr>
                            <td>제 1회</td>
                            <td><span class="myTotalPoint">0</span>점</td>
                            <td>
                                <span class="examCut">720.46</span>
                            </td>
                            <td class="myPassYn"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="text-end">
			<small class="text-danger mx-4" style="display:block">
				* 점수를 입력하여 합격 기대가능성을 예측해보세요.
			</small>
			<small class="text-danger mx-4" style="display:block">
				* 합격 기대가능성(높음/다소높음/보통/다소낮음/낮음)은 합격선이 900점대로 수렴하기 시작한 최근 5개년 변호사시험을 기준으로 판단합니다.
			</small>
        </div>
    </div>

    <div class="border px-5 py-4 mt-5 calculator">
        <h1 class="fs-3 my-4 fw-bold text-center">객컷 계산기</h1>
        <div class="text-start">
            <span class="fw-bold fs-4 align-middle"> [ </span>
            <input type="text" class="m-1 text-center" style="width: 60px;" value="900" id="cal-start" maxlength="4"/>
            <span class="text-danger fw-bold">(예상 합격커트라인)</span>
            <span class="fw-bold fs-4 align-middle"> - </span>
        </div>
        <div class="mx-5">
            <span class="fw-bold fs-5 align-middle"> ( </span>
            <input type="text" class="m-1 text-center" style="width: 50px;" value="50" maxlength="4"/>
            <span>(공법 1문)</span>
            <span class="fw-bold fs-5 m-1 align-middle"> + </span>
            <input type="text" class="m-1 text-center" style="width: 50px;" value="50" maxlength="4"/>
            <span>(공법 2문)</span>
            <span class="fw-bold fs-5 m-1 align-middle"> + </span>
            <input type="text" class="m-1 text-center" style="width: 50px;" value="50" maxlength="4"/>
            <span>(형사법 1문)</span>
            <span class="fw-bold fs-5 m-1 align-middle"> + </span>
            <input type="text" class="m-1 text-center" style="width: 50px;" value="50" maxlength="4"/>
            <span>(형사법 2문)</span>
            <span class="fw-bold fs-5 m-1 align-middle"> + </span>
        </div>
        <div class="text-center">
            <input type="text" class="m-1 text-center" style="width: 50px;" value="75" maxlength="4"/>
            <span>(민사법 1문)</span>
            <span class="fw-bold fs-5 m-1 align-middle"> + </span>
            <input type="text" class="m-1 text-center" style="width: 50px;" value="50" maxlength="4"/>
            <span>(민사법 2문)</span>
            <span class="fw-bold fs-5 m-1 align-middle"> + </span>
            <input type="text" class="m-1 text-center" style="width: 50px;" value="50" maxlength="4"/>
            <span>(민사법 3문)</span>
            <span class="fw-bold fs-5 m-1 align-middle"> + </span>
            <input type="text" class="m-1 text-center" style="width: 50px;" value="50" maxlength="4"/>
            <span>(공법 기록)</span>
            <span class="fw-bold fs-5 m-1 align-middle"> + </span>
        </div>
        <div class="text-center mx-5">
            <input type="text" class="m-1 text-center" style="width: 50px;" value="50" maxlength="4"/>
            <span>(형사법 기록)</span>
            <span class="fw-bold fs-5 m-1 align-middle"> + </span>
            <input type="text" class="m-1 text-center" style="width: 50px;" value="87.5" maxlength="4"/>
            <span>(민사법 기록)</span>
            <span class="fw-bold fs-5 m-1 align-middle"> + </span>
            <input type="text" class="m-1 text-center" style="width: 50px;" value="80" maxlength="4"/>
            <span>(선택법)</span>
            <span class="fw-bold fs-5 align-middle"> ) </span>
            <span class="fw-bold fs-4 align-middle"> ] </span>
            <span class="fw-bold fs-4 align-middle"> / 2.5 </span>
            <span>(객관식 1문제 점수)</span>
        </div>
        <div class="text-end">
            <span class="fw-bold fs-3 align-middle"> = </span>
            <input type="text" class="m-1 text-center fw-bold fs-3" style="width: 90px; background-color: #eeeeee;" id="cal-result" value="103" readonly/>
            <span>(객컷)</span>
        </div>
		<small class="text-center text-danger">
			* 점수를 입력하여 객컷을 계산해보세요.
		</small>
    </div>
</div>
<!-- [content] 영역 끝 -->

<th:block layout:fragment="script">
    <script th:src="@{/js/mypage/quizResultFunc.js}"></script>
</th:block>