<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypageLayout}">

<!-- [content] 영역 시작 -->
<div layout:fragment="content">
    <form id="quizResultForm">
        <input type="hidden" name="examGrpCd" value="10" id="examGrpCd"/>
        <input type="hidden" name="examYear" value="2022" id="examYear"/>
        <input type="hidden" name="examNo" value="1" id="examNo"/>
    </form>
    <div class="border px-5 py-4" style="font-family: 'NEXON Lv1 Gothic OTF';">
        <div class="fs-3 my-4 fw-bold text-center">로잉머신 진단결과</div>
        <p class="fs-5 m-3" >예비 변호사 <span class="fw-bold text-primary nickname"></span>님, 제 11회 변호사시험을 치르느라 수고많으셨습니다.</p>
        <p class="fs-5 m-3">
            시험결과 예비 변호사 <span class="fw-bold text-primary nickname"></span>님은 로잉머신의 제 11회 변호사시험 빌보드에서
            총 <span class="fw-bold text-danger" id="allCnt"></span>명 가운데 <span class="fw-bold text-danger" id="rank"></span>등을 하셨습니다.
        </p>
        <p class="fs-5 m-3">
            사례형과 기록형 시험에서 중간점수를 받는다는 전제하여,<br/>
            제 10호 변호사시험 기준으로 <span class="fw-bold text-danger" id="result10th"></span>,</br>
            제 9호 변호사시험 기준으로 <span class="fw-bold text-danger" id="result9th"></span>,</br>
            제 8호 변호사시험 기준으로 <span class="fw-bold text-danger" id="result8th"></span>입니다.
        </p>
        <p class="fs-5 m-3">
            따라서 위 사항들을 종합하여 판단하건데 현재 예비 변호사 <span class="fw-bold text-dark nickname"></span>님이 제 11회 변호사시험에서 합격할 가능성은
            매우 높습니다/높습니다/보통입니다/어렵습니다/다소 어렵습니다.
        </p>
        <div class="fs-4 mt-4 text-center fw-bold" id="regDt"></div>
    </div>

    <div class="border px-5 py-4 mt-5" id="happCalculator">
        <div class="fs-3 my-4 fw-bold text-center">행복회로 계산기</div>
        <div class="row mt-5">
            <div class="col border-primary">
                <div onkeyup="calTblTotal(this)">
                    <h5 class="fw-bold">1. 선택형 점수 입력</h5>
                    <table class="text-center table table-striped m-3">
                        <thead>
                            <tr>
                                <th class="col-4">과목명</th>
                                <th class="col">내 갯수</th>
                                <th class="col-3">만점</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>공법</td>
                                <td><input type="text" class="w-50 text-center" maxlength="2"/></td>
                                <td>/ 40개</td>
                            </tr>
                            <tr>
                                <td>형사법</td>
                                <td><input type="text" class="w-50 text-center" maxlength="2"/></td>
                                <td>/ 40개</td>
                            </tr>
                            <tr>
                                <td>민사법</td>
                                <td><input type="text" class="w-50 text-center" maxlength="2"/></td>
                                <td>/ 70개</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center fw-bold">
                        총점 : <span class="total">0</span>개 (<span class="totalPoint">0</span>점)
                    </div>
                </div>
                <div class="mt-5" onkeyup="calTblTotal(this)">
                    <h5 class="fw-bold">2. 기록형 점수 입력</h5>
                    <table class="text-center table table-striped m-3">
                        <thead>
                            <tr>
                                <th class="col-4">과목명</th>
                                <th class="col">내 갯수</th>
                                <th class="col-3">만점</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>공법</td>
                                <td><input type="text" class="w-50 text-center" maxlength="3"/></td>
                                <td>/ 100점</td>
                            </tr>
                            <tr>
                                <td>형사법</td>
                                <td><input type="text" class="w-50 text-center" maxlength="3"/></td>
                                <td>/ 100점</td>
                            </tr>
                            <tr>
                                <td>민사법</td>
                                <td><input type="text" class="w-50 text-center" maxlength="3"/></td>
                                <td>/ 100점</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center fw-bold">
                        총점 : <span class="total">0</span>개
                    </div>
                </div>
            </div>
            <div class="col border-primary" onkeyup="calTblTotal(this)">
                <h5 class="fw-bold">3. 사례형 점수 입력</h5>
                <table class="text-center table table-striped m-3">
                    <thead>
                        <tr>
                            <th class="col-4">과목명</th>
                            <th class="col">내 갯수</th>
                            <th class="col-3">만점</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>공법 1문</td>
                            <td><input type="text" class="w-50 text-center" maxlength="3"/></td>
                            <td>/ 100점</td>
                        </tr>
                        <tr>
                            <td>공법 2문</td>
                            <td><input type="text" class="w-50 text-center" maxlength="3"/></td>
                            <td>/ 100점</td>
                        </tr>
                        <tr>
                            <td>형사법 1문</td>
                            <td><input type="text" class="w-50 text-center" maxlength="3"/></td>
                            <td>/ 100점</td>
                        </tr>
                        <tr>
                            <td>형사법 2문</td>
                            <td><input type="text" class="w-50 text-center" maxlength="3"/></td>
                            <td>/ 100점</td>
                        </tr>
                        <tr>
                            <td>민사법 1문</td>
                            <td><input type="text" class="w-50 text-center" maxlength="3"/></td>
                            <td>/ 100점</td>
                        </tr>
                        <tr>
                            <td>민사법 2문</td>
                            <td><input type="text" class="w-50 text-center" maxlength="3"/></td>
                            <td>/ 100점</td>
                        </tr>
                        <tr>
                            <td>민사법 3문</td>
                            <td><input type="text" class="w-50 text-center" maxlength="3"/></td>
                            <td>/ 100점</td>
                        </tr>
                        <tr>
                            <td>선택법 1문</td>
                            <td><input type="text" class="w-50 text-center" maxlength="3"/></td>
                            <td>/ 80점</td>
                        </tr>
                        <tr>
                            <td>선택법 2문</td>
                            <td><input type="text" class="w-50 text-center" maxlength="3"/></td>
                            <td>/ 80점</td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center fw-bold">
                    총점 : <span class="total">0</span>점
                </div>
            </div>
            <div class="col border-primary">
                <h5 class="fw-bold">4. 합격 기대가능성</h5>
                <table class="text-center table table-striped m-3">
                    <thead>
                        <tr>
                            <th class="col-4">역대 시험</th>
                            <th class="col">내 점수</th>
                            <th class="col-3">합격선</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>제 11회</td>
                            <td><span class="myTotalPoint">0</span>점</td>
                            <td>???</td>
                        </tr>
                        <tr>
                            <td>제 10회</td>
                            <td><span class="myTotalPoint">0</span>점</td>
                            <td>
                                <span>895.85</span>
                            </td>
                        </tr>
                        <tr>
                            <td>제 9회</td>
                            <td><span class="myTotalPoint">0</span>점</td>
                            <td>
                                <span>900.29</span>
                            </td>
                        </tr>
                        <tr>
                            <td>제 8회</td>
                            <td><span class="myTotalPoint">0</span>점</td>
                            <td>
                                <span>905.55</span>
                            </td>
                        </tr>
                        <tr>
                            <td>제 7회</td>
                            <td><span class="myTotalPoint">0</span>점</td>
                            <td>
                                <span>881.9</span>
                            </td>
                        </tr>
                        <tr>
                            <td>제 6회</td>
                            <td><span class="myTotalPoint">0</span>점</td>
                            <td>
                                <span>889.91</span>
                            </td>
                        </tr>
                        <tr>
                            <td>제 5회</td>
                            <td><span class="myTotalPoint">0</span>점</td>
                            <td>
                                <span>862.37</span>
                            </td>
                        </tr>
                        <tr>
                            <td>제 4회</td>
                            <td><span class="myTotalPoint">0</span>점</td>
                            <td>
                                <span>838.5</span>
                            </td>
                        </tr>
                        <tr>
                            <td>제 3회</td>
                            <td><span class="myTotalPoint">0</span>점</td>
                            <td>
                                <span>793.7</span>
                            </td>
                        </tr>
                        <tr>
                            <td>제 2회</td>
                            <td><span class="myTotalPoint">0</span>점</td>
                            <td>
                                <span>762..3</span>
                            </td>
                        </tr>
                        <tr>
                            <td>제 1회</td>
                            <td><span class="myTotalPoint">0</span>점</td>
                            <td>
                                <span>720.46</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="border px-5 py-4 mt-5 calculator">
        <div class="fs-3 my-4 fw-bold text-center">객관식 컷</div>
        <div class="text-start">
            <span class="fw-bold fs-4 align-middle"> [ </span>
            <input type="text" class="m-1 text-center" style="width: 60px;" value="" id="cal-start" maxlength="4"/>
            <span>(합격커트라인)</span>
            <span class="fw-bold fs-4 align-middle"> - </span>
        </div>
        <div class="text-center">
            <span class="fw-bold fs-5 align-middle"> ( </span>
            <input type="text" class="m-1 text-center" style="width: 50px;" value="50" maxlength="4"/>
            <span>(헌법)</span>
            <span class="fw-bold fs-5 m-1 align-middle"> + </span>
            <input type="text" class="m-1 text-center" style="width: 50px;" value="50" maxlength="4"/>
            <span>(행정법)</span>
            <span class="fw-bold fs-5 m-1 align-middle"> + </span>
            <input type="text" class="m-1 text-center" style="width: 50px;" value="50" maxlength="4"/>
            <span>(형법)</span>
            <span class="fw-bold fs-5 m-1 align-middle"> + </span>
            <input type="text" class="m-1 text-center" style="width: 50px;" value="50" maxlength="4"/>
            <span>(형소법 사례)</span>
            <span class="fw-bold fs-5 m-1 align-middle"> + </span>
            <input type="text" class="m-1 text-center" style="width: 50px;" value="50" maxlength="4"/>
            <span>(공법)</span>
            <span class="fw-bold fs-5 m-1 align-middle"> + </span>
            <input type="text" class="m-1 text-center" style="width: 50px;" value="50" maxlength="4"/>
            <span>(형사법 기록)</span>
        </div>
        <div class="text-end">
            <span class="fw-bold fs-5 m-1 align-middle"> + </span>
            <input type="text" class="m-1 text-center" style="width: 50px;" value="175" maxlength="4"/>
            <span>(민사법 사례)</span>
            <span class="fw-bold fs-5 m-1 align-middle"> + </span>
            <input type="text" class="m-1 text-center" style="width: 50px;" value="87.5" maxlength="4"/>
            <span>(민사법 기록)</span>
            <span class="fw-bold fs-5 m-1 align-middle"> + </span>
            <input type="text" class="m-1 text-center" style="width: 50px;" value="80" maxlength="4"/>
            <span>(선택법 사례)</span>
            <span class="fw-bold fs-5 align-middle"> ) </span>
            <span class="fw-bold fs-4 align-middle"> ] </span>
            <span class="fw-bold fs-4 align-middle"> / 2.5 </span>
            <span>(객관식 1문제 점수)</span>
        </div>
        <div class="text-end">
            <span class="fw-bold fs-3"> = </span>
            <input type="text" class="m-1 text-center fw-bold fs-3" style="width: 120px; background-color: #eeeeee;" value="" id="cal-result" readonly/>
        </div>
        <div class="text-end">
            <span>(객관식 문제 갯수)</span>
        </div>
    </div>
</div>
<!-- [content] 영역 끝 -->

<th:block layout:fragment="script">
    <script th:src="@{/js/mypage/mypageFunc.js}"></script>
    <script>
        $(function () {
            let url = '/mypage/quizResult/data';
            let data = $('#quizResultForm').serialize();
            $.get(url, data).done(function (result) {
                console.log(result)
                $('.nickname').text(result['NICKNAME']);
                $('#allCnt').text(result['ALL_CNT']);
                $('#rank').text(result['RANK']);
                $('#regDt').text(result['REG_DT']);

                // 점수계산
                let cut10 = 895.85;
                let cut9 = 900.29;
                let cut8 = 905.55;
                let avg = 175 + 87.5 + 80;
                let myPoint = result['RESULT_CNT'] * 2.5;
                let myTotalPoint = avg + myPoint

                $('.myTotalPoint').text(myTotalPoint);

                if(cut10 > myTotalPoint) {
                    $('#result10th').text("불합격")
                } else {
                    $('#result10th').text("합격")
                }

                if(cut9 > myTotalPoint) {
                    $('#result9th').text("불합격")
                } else {
                    $('#result9th').text("합격")
                }

                if(cut8 > myTotalPoint) {
                    $('#result8th').text("불합격")
                } else {
                    $('#result8th').text("합격")
                }
            })
        })

        function calTblTotal(obj) {
            let total = 0;
            $(obj).find('input').each(function (index, item) {
                let temp = $(item).val();
                if(temp == '' || temp == undefined) { temp = 0 }
                total += parseInt(temp);
            })
            $(obj).find('.total').text(total);
            $(obj).find('.totalPoint').text(total * 2.5);

            let myTotal = 0;
            $(obj).closest('#happCalculator').find('input').each(function (index, item) {
                let temp = $(item).val();
                if(temp == '' || temp == undefined) { temp = 0 }
                myTotal += parseInt(temp);
            })
            $(obj).closest('#happCalculator').find('.myTotalPoint').text(myTotal);
        }

        $('.calculator input').on('keyup', function () {
            let result = parseInt($('#cal-start').val());
            $('.calculator input').not(':first').not(':last').each(function (index, item) {
                result = result - $(item).val();
            })
            $('#cal-result').val(Math.ceil(result/2.5)) ;
        })
    </script>
</th:block>