<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<!-- [header] 영역 시작 -->
<header th:fragment="headerFragment" class="header mt-5">
    <div class="container">
		<input type="hidden" th:value="${session.sessionUser.userId}" id="sessionUserId"/>
	    <div class="row">
	        <div class="col-lg-3 mx-auto text-center">
	            <a href="/index" style="text-decoration: none;">
	                <img src="/images/lawingmachine.png" style="max-width:250px;" class="mb-3 w-100"/>
	                <!-- <p style="font-family: 'NEXON Lv1 Gothic OTF Light'; letter-spacing: -0.5px;">합격을 위한 단 하나의 기계</p> -->
	            </a>
	        </div>
	        <div class="col-lg mx-auto text-center">
	            <ul class="nav nav-pills mt-3 mx-auto row">
<!--	            	<th:block sec:authorize="isAuthenticated() == false">-->
<!--						<li class="nav-item col-sm my-auto"><a href="https://blog.naver.com/archilawyer/222623584164" target='_blank' class="nav-link">제작배경</a></li>-->
<!--	            	</th:block>-->
                    <th:block th:if="${not #strings.isEmpty(session.sessionUser)}">
	                    <!--<th:block th:if="${#strings.equals(session.sessionUser.role, 'ROLE_ADMIN')}">-->
							<li class="nav-item col-sm my-auto"><a href="/training/exam/notice" class="nav-link">시험응시</a></li>
							<li class="nav-item col-sm my-auto"><a href="/board/free/list" class="nav-link">커뮤니티</a></li>
	                    <!--</th:block>-->
                    </th:block>
	                <th:block sec:authorize="isAuthenticated()">
	                    <li class="nav-item col-sm my-auto"><a href="/mypage/myprofile" class="nav-link">마이페이지</a></li>
	                </th:block>
					<th:block th:if="${not #strings.isEmpty(session.sessionUser)}">
						<th:block th:if="${#strings.equals(session.sessionUser.role, 'ROLE_ADMIN')}">
							<li class="nav-item col-sm my-auto"><a href="/admin/board/quiz/list" class="nav-link">관리자</a></li>
						</th:block>
					</th:block>
					<th:block sec:authorize="isAuthenticated() == false">
						<li class="nav-item col-md my-3"><a href="/login" class="btn btn-outline-primary px-4">로그인</a></li>
					</th:block>
	                <th:block sec:authorize="isAuthenticated()">
						<li class="nav-item col-md my-3"><a href="/logout" class="btn btn-outline-primary px-4">로그아웃</a></li>
					</th:block>
	            </ul>
	        </div>
	    </div>
    </div>
    <hr class="solid">
	<div class="mobile text-center text-danger">로잉머신은 태블릿 이상의 화면 크기에 <br> 최적화되어 있습니다.</div>
</header>
<!-- [header] 영역 끝 -->

</html>