<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="sidebarFragment">

    <div class="fs-1 text-center my-3" style="font-family: 'NEXON Lv1 Gothic OTF Light';">39:13</div>

    <div class="d-grid gap-5">
        <div>
            <h5 class="mx-3 text-primary" style="font-family: 'NEXON Lv1 Gothic OTF Bold';">공법</h5>
            <div>
                <div class="my-2 px-4 py-2 rounded-pill bg-primary text-light d-flex justify-content-between align-items-center"
                     style="font-family: 'NEXON Lv1 Gothic OTF Light';">
                    <span>헌법</span>
                    <span>총 20문제</span>
                </div>
                <div class="text-center mx-3">
                    <div class="row">
                        <div class="col border">1</div>
                        <div class="col border">1</div>
                        <div class="col border">1</div>
                        <div class="col border">1</div>
                        <div class="col border">1</div>
                    </div>
                    <div class="row">
                        <div class="col border">1</div>
                        <div class="col border">1</div>
                        <div class="col border">1</div>
                        <div class="col border">1</div>
                        <div class="col border">1</div>
                    </div>
                    <div class="row">
                        <div class="col border">1</div>
                        <div class="col border">1</div>
                        <div class="col border">1</div>
                        <div class="col border">1</div>
                        <div class="col border">1</div>
                    </div>
                    <div class="row">
                        <div class="col border">1</div>
                        <div class="col border">1</div>
                        <div class="col border">1</div>
                        <div class="col border">1</div>
                        <div class="col border">1</div>
                    </div>
                </div>
            </div>

            <div>
                <div class="my-2 px-4 py-2 rounded-pill bg-light text-primary border border-primary d-flex justify-content-between align-items-center"
                     style="font-family: 'NEXON Lv1 Gothic OTF';">
                    <span>행정법</span>
                    <span>총 20문제</span>
                </div>
            </div>
        </div>

        <div>
            <h5 class="mx-3 text-primary" style="font-family: 'NEXON Lv1 Gothic OTF Bold';">형사법</h5>
            <div>
                <div class="my-2 px-4 py-2 rounded-pill bg-light text-primary border border-primary d-flex justify-content-between align-items-center"
                     style="font-family: 'NEXON Lv1 Gothic OTF';">
                    <span>형법</span>
                    <span>총 20문제</span>
                </div>
            </div>
            <div>
                <div class="my-2 px-4 py-2 rounded-pill bg-light text-primary border border-primary d-flex justify-content-between align-items-center"
                     style="font-family: 'NEXON Lv1 Gothic OTF';">
                    <span>형사소송법</span>
                    <span>총 20문제</span>
                </div>
            </div>
        </div>

        <div>
            <h5 class="mx-3 text-primary" style="font-family: 'NEXON Lv1 Gothic OTF Bold';">민사법</h5>
            <div>
                <div class="my-2 px-4 py-2 rounded-pill bg-light text-primary border border-primary d-flex justify-content-between align-items-center"
                     style="font-family: 'NEXON Lv1 Gothic OTF';">
                    <span>민법</span>
                    <span>총 20문제</span>
                </div>
            </div>
            <div>
                <div class="my-2 px-4 py-2 rounded-pill bg-light text-primary border border-primary d-flex justify-content-between align-items-center"
                     style="font-family: 'NEXON Lv1 Gothic OTF';">
                    <span>민사소송법</span>
                    <span>총 20문제</span>
                </div>
            </div>
        </div>
    </div>

</div>

</html>