<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminBoardLayout}">

<!-- [content] 영역 시작 -->
<div layout:fragment="content">

    <div id="boardContent">
        <form class="d-grid gap-4" id="boardForm">
            <input type="hidden" th:field="${userInfo.userId}">
            <input type="hidden" name="offset" id="offset" th:value="${param.offset}" />
            <div>
                <span class="fs-5" style="font-family: 'GongGothicMedium';" th:text="|${userInfo.userNm}(${userInfo.membershipNm})|"></span>
            </div>
            <div>
                <div class="row">
                    <div class="border border-primary px-4 py-2 rounded m-3 col-md">
                        <div class="mb-2">
                            <span class="fw-bold text-primary">닉네임</span>
                        </div>
                        <div>
                            <span style="font-family: 'NEXON Lv1 Gothic OTF Light';" th:text="${userInfo.nickname}"></span>
                        </div>
                    </div>
                    <div class="border border-primary px-4 py-2 rounded m-3 col-md">
                        <div class="mb-2">
                            <span class="fw-bold text-primary">이메일</span>
                        </div>
                        <div>
                            <span style="font-family: 'NEXON Lv1 Gothic OTF Light';" th:text="${userInfo.email}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="border border-primary px-4 py-2 rounded m-3 col-md">
                        <div class="mb-2">
                            <span class="fw-bold text-primary">수험번호</span>
                        </div>
                        <div>
                            <span style="font-family: 'NEXON Lv1 Gothic OTF Light';" th:text="${userInfo.examTicketNo}"></span>
                        </div>
                    </div>
                    <div class="border border-primary px-4 py-2 rounded m-3 col-md">
                        <div class="mb-2">
                            <span class="fw-bold text-primary">핸드폰번호</span>
                        </div>
                        <div>
                            <span style="font-family: 'NEXON Lv1 Gothic OTF Light';" th:text="${userInfo.mobile}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between d-grid gap-5"
                 th:if="${not #strings.isEmpty(userInfo.examTicketPath)}">
                <div class="form-group w-100">
                    <label for="examTicketImg" class="text-primary fs-5 fw-bold mt-4">수험표</label>
                    <img class="w-100 my-3" alt="수험표" th:src="${userInfo.examTicketPath}" id="examTicketImg">
                </div>
            </div>
        </form>

        <div class="d-grid gap-2 d-flex justify-content-end mt-3">
            <button type="button" th:if="${#strings.equals(userInfo.membershipCd, 10)}"
                    class="btn btn-lg btn-warning px-4 my-3 float-end fw-bold" onclick="approval()">승인</button>
            <button type="button" class="btn btn-lg btn-primary px-4 my-3 float-end" onclick="goApprovalList()">목록</button>
        </div>

        <th:block layout:fragment="script">
            <script th:src="@{/js/admin/adminFunc.js}"></script>
        </th:block>
    </div>

</div>
<!-- [content] 영역 끝 -->

</html>