<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<!-- [content] 영역 시작 -->
<div layout:fragment="content" class="w-100 row">

    <!-- sidebar -->
    <div class="col p-5"></div>

    <!-- main -->
    <div class="col-7 p-5">

        <h1 class="text-center">제 11회 변호사시험</h1>

        <div class="progress my-5">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" id="progress-bar"
                 role="progressbar" style="width: 75%;">15/20
            </div>
        </div>

        <div style="font-family: 'Gowun Batang', serif;">
            <div class="my-5">
                <div class="d-flex justify-content-between">
                    <div class="fs-5 fw-bold">문 26.</div>
                    <div class="d-flex" style="font-family: 'GongGothicMedium';">
                        <div class="form-check mx-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">중요</label>
                        </div>
                        <div class="form-check mx-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                                   checked>
                            <label class="form-check-label" for="flexCheckChecked">헷갈림</label>
                        </div>
                    </div>
                </div>
                <div class="fs-5 my-3">
                    <div>임대차에 관한 설명 중 옳지 않은 것을 모두 고른 것은?</div>
                    <div>ㄱ. 임차인이 임대인 소유 건물의 일부를 임차하여 사용화재가 발생하여 임차건물 부분이 아닌 건물 부분까지 임차인이 임대인 소유 건물의 일부를 임차하여
                        사용화재가 발생하여 임차건물 부분이 아닌 건물 부분까지
                    </div>
                    <div>ㄴ. 임차인이 임대인 소유 건물의 일임차인이 임대인 소유 건물의 일임차인이 임대인 소유 건물의 일임차인이 임대인 소유 건물의 일임차인이 임대인 소유 건물의
                        일임차인이 임대인 소유 건물의 일부를 임차하여 사용화재가 발생하여 임차건물 부분이 아닌 건물 부분까지
                    </div>
                    <div>ㄷ. 임차인이 임대인 소유 건물의 일부를 임차하여 사용화재가 발생하여 임차건물 부분이 아닌 건물 부분까지</div>
                    <div>ㄹ. 임차인이 임대인 소유 건물의 일부를 임차하여 사용화재가 발생하여 임차건물 부분이 아닌 건물 부분까지</div>
                </div>
            </div>

            <div class="d-grid gap-3 my-5">
                <div>
                    <span class="fw-bold mx-1">&#9312;</span>
                    <span>ㄱ</span>
                </div>
                <div>
                    <span class="fw-bold mx-1">&#9313;</span>
                    <span>ㄱ, ㄴ</span>
                </div>
                <div>
                    <span class="fw-bold mx-1">&#9314;</span>
                    <span>ㄴ, ㄷ</span>
                </div>
                <div>
                    <span class="fw-bold mx-1">&#9315;</span>
                    <span>ㄱ, ㄴ, ㄹ</span>
                </div>
                <div>
                    <span class="fw-bold mx-1">&#9316;</span>
                    <span>ㄴ, ㄷ, ㄹ</span>
                </div>
            </div>
        </div>

    </div>

    <!-- sidebar -->
    <div class="col p-5" id="sidebar">
        <div th:replace="fragments/quizSidebar :: sidebarFragment"></div>
    </div>

</div>
<!-- [content] 영역 끝 -->

</html>