<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<!-- [content] 영역 시작 -->
<div layout:fragment="content" class="row">

    <!-- sidebar -->
    <div class="col-xxl p-5"></div>

    <!-- main -->
    <div class="col-xxl-7 p-5">

        <form id="examMainForm" method="get">
            <input type="hidden" name="examGrpCd" th:value="${quizMstrInfoVO.examGrpCd} ?: '10'" id="examGrpCd"/>
            <input type="hidden" name="examYear" th:value="${quizMstrInfoVO.examYear ?: '2022'}" id="examYear"/>
            <input type="hidden" name="examNo" th:value="${quizMstrInfoVO.examNo == 0 ? 11 : quizMstrInfoVO.examNo}"
                   id="examNo"/>
            <input type="hidden" name="subjectTypeCd" th:value="${quizMstrInfoVO.subjectTypeCd ?: '10'}"
                   id="subjectTypeCd"/>

            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex">
                    <h2 class="mx-2" th:text="|${quizMstrInfoVO.examYear}년도|"></h2>
                    <h2 class="mx-2" th:text="|${quizMstrInfoVO.examNo}회|"></h2>
                    <h2 class="mx-2" th:each="Comm001:${CommLst001}" th:if="${Comm001.cmmnDtlCd} == ${quizMstrInfoVO.examGrpCd}"
                        th:text="${Comm001.cmmnDtlNm}"></h2>
                    <h2 class="mx-2" th:each="Comm002:${CommLst002}" th:if="${Comm002.cmmnDtlCd} == ${quizMstrInfoVO.subjectTypeCd}"
                        th:text="${Comm002.cmmnDtlNm}"></h2>
                </div>
                <div class="fs-1" style="font-family: 'NEXON Lv1 Gothic OTF Light';">
                    <h1 class="text-center" id="count-down-timer"></h1>
                </div>
            </div>

            <div id="quizMstrInfoDiv">
                <input type="hidden" name="quizMstrInfoSeq" th:value="${quizMstrInfoVO.quizMstrInfoSeq}"
                       id="quizMstrInfoSeq"/>
                <input type="hidden" name="quizUserAnsSeq" th:value="${quizMstrInfoVO.quizUserAnsSeq}"
                       id="quizUserAnsSeq"/>
                <input type="hidden" name="userAnswer" th:value="${quizMstrInfoVO.userAnswer}" id="userAnswer"/>

                <div class="progress my-5">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" id="progress-bar"
                         role="progressbar" style="width: 75%;"
                         th:text="|${quizMstrInfoVO.quizEndCnt}/${quizMstrInfoVO.quizTotalCnt}|"></div>
                </div>

                <div style="font-family: 'NEXON Lv1 Gothic OTF Light'; letter-spacing: 1px; word-spacing: 5px; line-height: 2;">
                    <div>
                        <div class="d-flex justify-content-between">

                            <div class="fs-5 fw-bold">
                                <th:block th:each="quiz:${quizAnswerNavList}"
                                          th:if="${quiz.quizMstrInfoSeq == quizMstrInfoVO.quizMstrInfoSeq}">
                                    <span th:text="|문 ${#strings.length(quiz.rno) == 1 ? '0' + quiz.rno : quiz.rno}.|"></span>
                                </th:block>
                            </div>

							<th:block th:if="${#strings.equals(session.sessionUser.role, 'ROLE_ADMIN')}">
	                            <div class="d-flex" style="font-family: 'GongGothicMedium';">
	                                <div class="form-check mx-3">
	                                   <input class="form-check-input" type="checkbox" value="Y" name="userChkImprt"
	                                          id="userChkImprt"
	                                          th:checked="${#strings.equals(quizMstrInfoVO.userChkImprt, 'Y')}">
	                                   <label class="form-check-label" for="userChkImprt">중요</label>
	                                </div>
	                                <div class="form-check mx-3">
	                                   <input class="form-check-input" type="checkbox" value="Y" name="userChkCnfsd"
	                                          id="userChkCnfsd"
	                                          th:checked="${#strings.equals(quizMstrInfoVO.userChkCnfsd, 'Y')}">
	                                   <label class="form-check-label" for="userChkCnfsd">헷갈림</label>
	                                </div>
	                            </div>
                            </th:block>
                            
                        </div>
<!--                        <div class="fs-5 my-3" th:text="${quizMstrInfoVO.content}"></div>-->
                        <input type="hidden" th:field="${quizMstrInfoVO.content}"/>

                        <div class="my-5 border border-primary px-3 py-2" id="quizCntntDiv"></div>

                        <th:block th:if="${#strings.equals(quizMstrInfoVO.subjectTypeCd, '70') and #strings.equals(quizMstrInfoVO.srtNo, '36')}">
                            <div>【참고】 「석유사업법 시행규칙」 [별표 1] 행정처분기준</div>
                            <img style="width:100vh;" src="/images/table_70_36.png" alt="참고">
                        </th:block>

                        <script>
                            let quizCntntDiv = toastui.Editor.factory({
                                el: document.querySelector('#quizCntntDiv'),
                                viewer: true,
                                initialValue: $('#content').val()
                            })
                            $('.toastui-editor-contents').css('font-size', '1.15em');
                        </script>
                    </div>

                    <div class="d-flex justify-content-between" style="font-family: 'NEXON Lv1 Gothic OTF Light';">
                        <button type="button" class="btn btn-primary my-3" onclick="goQuiz('prev')">이전문제</button>
                        <button type="button" class="btn btn-primary my-3" onclick="goQuiz('next')">다음문제</button>
                    </div>

                    <div class="d-grid gap-3">
                        <th:block th:each="quizDtlInfo:${quizMstrInfoVO.quizDtlList}">
                            <div class="my-3 exDiv d-flex text-start">
                            
	                            <th:block th:if="${#strings.equals(session.sessionUser.role, 'ROLE_ADMIN')}">
									<i class="fas fa-eraser" onclick="eraser(this);"></i>
								</th:block>
								
                                <a class="list-group-item list-group-item-action mx-3"
                                   th:classappend="${quizMstrInfoVO.userAnswer} == ${quizDtlInfo.srtNo} ? list-group-item-dark"
                                   onclick="chkAnswer(this);">
                                    <span class="fw-bold mx-1" th:if="${quizDtlInfo.srtNo == 1}">&#9312;</span>
                                    <span class="fw-bold mx-1" th:if="${quizDtlInfo.srtNo == 2}">&#9313;</span>
                                    <span class="fw-bold mx-1" th:if="${quizDtlInfo.srtNo == 3}">&#9314;</span>
                                    <span class="fw-bold mx-1" th:if="${quizDtlInfo.srtNo == 4}">&#9315;</span>
                                    <span class="fw-bold mx-1" th:if="${quizDtlInfo.srtNo == 5}">&#9316;</span>
                                    <span class="exCntnt mx-1" th:text="${quizDtlInfo.content}"
                                          th:classappend="${quizDtlInfo.eraseYn} == 'Y' ? text-decoration-line-through"></span>
                                </a>
                                <input type="hidden" th:name="|quizDtlList[${quizDtlInfoStat.index}].quizDtlInfoSeq|"
                                       th:value="${quizDtlInfo.quizDtlInfoSeq}"/>
                                <input type="hidden" th:name="|quizDtlList[${quizDtlInfoStat.index}].srtNo|"
                                       th:value="${quizDtlInfo.srtNo}" class="quizDtlSrtNo"/>
                                <input type="hidden" th:name="|quizDtlList[${quizDtlInfoStat.index}].eraseYn|"
                                       th:value="${quizDtlInfo.eraseYn}" class="eraseYn"/>
                                <input type="hidden" th:name="|quizDtlList[${quizDtlInfoStat.index}].quizUserAnsDtlSeq|"
                                       th:value="${quizDtlInfo.quizUserAnsDtlSeq}"/>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <!-- sidebar -->
    <div class="col-xxl p-5">
        <div class="d-grid gap-5" id="quizAnswerNavListDiv">
            <!-- <h5 class="mx-3 text-primary" style="font-family: 'NEXON Lv1 Gothic OTF Bold';">공법</h5> -->
            <div>
                <th:block th:each="subjectNavInfo:${quizSubjectNaviList}">
                    <th:block th:if="${#strings.isEmpty(quizMstrInfoVO.subjectTypeCd)}">
                        <div class="quizNavTltDiv my-2 px-4 py-2 rounded-pill d-flex justify-content-between align-items-center border border-1 border-primary text-primary"
                             style="font-family: 'NEXON Lv1 Gothic OTF Light';">
                            <span class='subjectNm' th:text="${subjectNavInfo.grpDtlNm}"></span>
                            <span class='subjectCd' style="display: none;" th:text="${subjectNavInfo.grpDtlCd}"></span>
                            <span th:text="|총 ${subjectNavInfo.quizCnt}문제|"></span>
                            <input type="hidden" th:value="${subjectNavInfo.subjectTypeCd}" class="subjectTypeCd">
                        </div>
                        <div class="text-center mx-3">
                            <div class="row row-cols-5">
                                <th:block th:each="quizNavInfo:${quizAnswerNavList}"
                                          th:if="${#strings.equals(subjectNavInfo.subjectTypeCd,quizNavInfo.subjectTypeCd)}">
                                    <div class="col border py-1 sideNavDiv" style="min-height: 50px;"
                                         th:onclick="quizAnsSave([[${quizNavInfo.quizMstrInfoSeq}]])">
                                        <div>
                                            <div th:text="${quizNavInfo.rno}"></div>
                                            <input type="hidden" th:value="${quizNavInfo.quizMstrInfoSeq}"
                                                   class="quizMstrInfoSeq">
                                        </div>
                                        <div class="bg-primary text-light"
                                             th:text="${quizNavInfo.userAnswer}"></div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </th:block>
                    <th:block th:unless="${#strings.isEmpty(quizMstrInfoVO.subjectTypeCd)}">
                        <th:block
                                th:if="${#strings.equals(quizMstrInfoVO.subjectTypeCd, subjectNavInfo.subjectTypeCd)}">
                            <div class="quizNavTltDiv my-2 px-4 py-2 rounded-pill d-flex justify-content-between align-items-center border border-1 border-primary text-primary"
                                 style="font-family: 'NEXON Lv1 Gothic OTF Light';">
                                <span class='subjectNm' th:text="${subjectNavInfo.grpDtlNm}"></span>
                                <span class='subjectCd' style="display: none;"
                                      th:text="${subjectNavInfo.grpDtlCd}"></span>
                                <span th:text="|총 ${subjectNavInfo.quizCnt}문제|"></span>
                                <input type="hidden" th:value="${subjectNavInfo.subjectTypeCd}" class="subjectTypeCd">
                            </div>
                            <div class="text-center mx-3">
                                <div class="row row-cols-5">
                                    <th:block th:each="quizNavInfo:${quizAnswerNavList}"
                                              th:if="${#strings.equals(subjectNavInfo.subjectTypeCd,quizNavInfo.subjectTypeCd)}">
                                        <div class="col border py-1 sideNavDiv" style="min-height: 50px;"
                                             th:onclick="quizAnsSave([[${quizNavInfo.quizMstrInfoSeq}]])">
                                            <div>
                                                <div th:text="${quizNavInfo.rno}"></div>
                                                <input type="hidden" th:value="${quizNavInfo.quizMstrInfoSeq}"
                                                       class="quizMstrInfoSeq">
                                            </div>
                                            <div class="bg-primary text-light"
                                                 th:text="${quizNavInfo.userAnswer}"></div>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                        </th:block>
                    </th:block>
                </th:block>
            </div>
            <div>
                <button th:if="${not #strings.isEmpty(quizMstrInfoVO.quizMstrInfoSeq)} and (${quizMstrInfoVO.quizEndCnt} == ${quizMstrInfoVO.quizTotalCnt})"
                    type="button" class="btn btn-lg btn-primary my-3 w-100" onclick="quizResultConfirm()">제출하기</button>
                <button th:unless="${not #strings.isEmpty(quizMstrInfoVO.quizMstrInfoSeq)} and (${quizMstrInfoVO.quizEndCnt} == ${quizMstrInfoVO.quizTotalCnt})"
                    type="button" class="btn btn-lg btn-outline-primary my-3 w-100" onclick="quizNotYetAlert()">제출하기</button>
            <div>
            </div>
        </div>
    </div>

</div>
<!-- [content] 영역 끝 -->

<th:block layout:fragment="script">
    <script th:src="@{/js/training/examFunc.js}"></script>
    <script>
        $(document).on({
            mouseenter: function () {
                $(this).addClass('border-primary');
                $(this).addClass('border-2');
                $(this).addClass('fw-bold');
            },
            mouseleave: function () {
                $(this).removeClass('border-primary');
                $(this).removeClass('border-2');
                $(this).removeClass('fw-bold');
            }
        }, '.sideNavDiv');

        $(function () {
            getAjaxQuizMstrInfo();
        })
    </script>
    </script>
</th:block>

</html>